{% extends 'base.html.twig' %}

{% block title %}
    Profil
{% endblock %}

{% block body %}
    <h1>Profil de {{ app.user.username }}</h1>

    {{ form_start(profile_form) }}

        {{ form_row(profile_form.email, {
            label: 'Mon adresse:'
        }) }}

    {{ form_row(profile_form.plainPassword.first, {
        label: 'Mettre à jour mon mot de passe:'
    }) }}

    {{ form_row(profile_form.plainPassword.second, {
        label: 'Repeter le nouveau  mot de passe:'
    }) }}

    <button type="submit" class="btn btn-success">
        Enregistrer
    </button>

    {{ form_end(profile_form) }}
{% endblock %}
