{% extends "base.html.twig" %}

{% block body %}
    <h1>Gestion des catégories</h1>

    <a class="btn btn-outline-primary mb-3" href="{{ path('app_admin_category_edit') }}">
        Créer une catégorie
    </a>

    <table class="table">
        <tr class="table-dark">
            <th>Id</th>
            <th>Nom</th>
            <th>Description</th>
            <th width="250px">Modification</th>
        </tr>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>
                    <a href="{{ path('app_admin_category_edit', {'id': category.id }) }}"
                       class="btn btn-primary">
                        Modifier
                    </a>
                    <a href="{{ path('admin_category_delete', {id: category.id}) }}" class="btn btn-danger">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

