
{{ form_start(article_form) }}

    {{ form_row(article_form.category, {label: 'Catégorie:'}) }}
    {{ form_row(article_form.title, {label: 'Titre:'}) }}
    {{ form_row(article_form.content, {label: 'Contenu:'}) }}

    <button type="submit" class="btn btn-success">
        Enregistrer
    </button>

{{ form_end(article_form) }}